<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table - Mazer Admin Dashboard</title>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    
    <link rel="stylesheet" href="../assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="../assets/vendors/bootstrap-icons/bootstrap-icons.css">
    
    <!-- fontwawsoem -->
    <link rel="stylesheet" href="../assets/vendors/fontawesome/all.min.css">

    <link rel="stylesheet" href="../assets/css/app.css">
    <link rel="shortcut icon" href="../assets/images/favicon.svg" type="image/x-icon">
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
    <div class="sidebar-header">
        <div class="d-flex justify-content-between">
            <div class="logo">
                <a href="index.html"><img src="../assets/images/logo/logo.png" alt="Logo" srcset=""></a>
            </div>
            <div class="toggler">
                <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
            </div>
        </div>
        <div class="" style="font-size: 1rem;">
            <div class="hospital">
             Concept Hospital Ltd. 
            </div>
            <a href="">Logout</a> 
         </div>
    </div>
    <div class="sidebar-menu">
        <ul class="menu">
            <li class="sidebar-title">Menu</li>
            
            <li class="sidebar-item  ">
                <a href="home.html" class='sidebar-link'>
                    <i class="bi bi-grid-fill"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sidebar-item  ">
                <a href="doctor-table.html" class='sidebar-link'>
                    <i class="bi bi-grid-fill "></i>
                    <span>Docotors </span>
                </a>
            </li>
            
            <li class="sidebar-item  has-sub">
                <a href="#" class='sidebar-link'>
                    <i class="bi bi-stack"></i>
                    <span>Components</span>
                </a>
                <ul class="submenu ">
                    <li class="submenu-item ">
                        <a href="component-alert.html">Alert</a>
                    </li>
                   
                    <li class="submenu-item ">
                        <a href="component-tooltip.html">Tooltip</a>
                    </li>
                </ul>
            </li>
           
        </ul>
    </div>
    <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
</div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Hospital  Information</h3>
                <p class="text-subtitle text-muted">For user to check they list</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Doctors</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>


    <!-- Basic Tables start -->
    <section class="section">

        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="card-body py-4 px-5">
                        <div class="d-flex align-items-center">
                            <div class="stats-icon purple">
                                <dt style="font-size: 30px;" class="the-icon text-white"><span class="fa-fw select-all fas"></span></dt>
                            </div>
                            <div class="ms-3 name">
                                <h5 class="font-bold">Concept Hospital Ltd.</h5>
                                
                                <h6 class="text-muted mb-0">Diagonist Center</h6>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>

            <div class="col-12 col-lg-6">
             
                <div class="card">
                    <div class="card-header">
                        <h4>Total Count</h4>
                    </div>
                  
                </div>
                
            </div>

        </div>
    </section>
    <!-- Basic Tables end -->

        <!-- Basic Tables start -->
        <section class="section">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>Expertise</h4>
                        </div>
                        <div class="card-body"> 
                                <div class="ms-5 mb-3">
                                    <h5>Medecine</h5>
                                </div>
                                <div class="ms-5 mb-3">
                                    <h5>Psychopethic</h5>
                                </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-lg-6">
                 
                    <div class="card">
                        <div class="card-header">
                            <h4>Educations</h4>
                        </div>
                        <div class="card-body">
                                <div class="ms-5 mb-3">
                                    <h5 class="mb-1">MBBS</h5>
                                    <h6 class="text-muted mb-0">@DMC</h6>
                                </div>
                                <div class="ms-5 mb-3">
                                    <h5 class="mb-1">MBBS</h5>
                                    <h6 class="text-muted mb-0">@DMC</h6>
                                </div>
                        </div>
                    </div>
                    
                </div>
    
            </div>
        </section>
        <!-- Basic Tables end -->

   <!-- Basic Tables start -->
   <section class="section">
    <div class="row" id="basic-table"> 
        <div class="col-12 col-md-10">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title float-start">Visit day/hour</h4>
                    <a class="btn btn-dark  float-end" href="">Add Visit day/hour</a>
                    <!-- <div class="d-flex justify-content-between ">
                        <h4 class="card-title">Doctors List</h4>
                        <a class="btn btn-info " href="">Add Doctor</a>
                    </div> -->
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <!-- Table with outer spacing -->
                        <div class="table-responsive">
                            <table class="table table-lg">
                                <thead>
                                    <tr>
                                        <th>Day</th>
                                        <th>Shift</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-bold-500 fw-bold">
                                            Sunday 10:53 PM - 10:53 PM
                                        </td>
                                        <td>m</td>
                                        <td class="text-bold-500"> 
                                            <a class="btn btn-info" href="">Edit</a>
                                            <a class="btn btn-danger" href="">Delete</a>
                                        </td>
                                    </tr>
                                    <td class="text-bold-500 fw-bold">
                                        Sunday 10:53 PM - 10:53 PM
                                    </td>
                                    <td>m</td>
                                    <td class="text-bold-500"> 
                                        <a class="btn btn-info" href="">Edit</a>
                                        <a class="btn btn-danger" href="">Delete</a>
                                    </td>
                                </tr>
                                <td class="text-bold-500 fw-bold">
                                    Sunday 10:53 PM - 10:53 PM
                                </td>
                                <td>m</td>
                                <td class="text-bold-500"> 
                                    <a class="btn btn-info" href="">Edit</a>
                                    <a class="btn btn-danger" href="">Delete</a>
                                </td>
                            </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</section>
<!-- Basic Tables end -->

   <!-- Basic Tables start -->
   <section class="section">
    <div class="row"> 
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title float-start">Doctor watch time</h4>
                    <a class="btn btn-dark  float-end" href="">Change</a>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <h5 class="font-bold">
                            10 min
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title float-start">Daily paitent recieve</h4>
                    <a class="btn btn-dark  float-end" href="">Change</a>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <h5 class="font-bold">
                            50 Person
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Basic Tables end -->


</div>

            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2021 &copy; Mazer</p>
                    </div>
                    <div class="float-end">
                        <p>Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a
                                href="http://ahmadsaugi.com">A. Saugi</a></p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="../assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    
    <script src="../assets/js/main.js"></script>
    <script src="../assets/vendors/fontawesome/all.min.js"></script>

</body>

</html>
